.c-general-controls {
    align-items: flex-start;
    align-self: flex-start;
    background: var(--bg-secondary);
    box-shadow: var(--shadow-l);
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    min-width: fit-content;

    .navigational-controls {
        display: flex;
        flex: 1;
        flex-direction: column;
        gap: var(--spacer-1);
        justify-content: flex-start;
        margin-left: calc(-1 * var(--spacer-1));
        padding-right: var(--spacer-1);
        width: fit-content;
    }

    .toggles {
        display: flex;
        flex-direction: column;
        gap: var(--spacer-1);
        width: fit-content;
    }

    /* Remove left margin from buttons - they should align to the left edge */

    .c-button.variant-toggle {
        margin-left: 0;
        margin-right: 0;
    }
}